{% extends "unity_webgl.html" %}

{% set unityloader_path = "unity_example/static.loader.js" %}
{% set unity_parameters = {
        "dataUrl": "unity_example/static.data.gz",
        "frameworkUrl": "unity_example/static.framework.js.gz",
        "codeUrl": "unity_example/static.wasm.gz",
        "streamingAssetsUrl": "StreamingAssets",
        "companyName": "DefaultCompany",
        "productName": "test",
        "productVersion": "1.0"
      } %}

{# Note that builds compressed with Brotli require HTTPS. This example uses gzip. #}

{% set width = 1920 %}
{% set height = 1080 %}

{% block content_extra %}
    <script type="text/javascript">
        // This will only work if the game is fully loaded, so I've put it on a 5 second timer.
        // You can check whether gameInstance is null to determine if it is loaded.
        setTimeout(function() {
            if (gameInstance == null)
                return;
            gameInstance.SendMessage('Canvas', 'SetParticipantID', {{ session['participantID'] }})
        }, 5000);
    </script>
{% endblock %}